html, body { height:100%;}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; font-family: arial;}
input, textarea {font-family:arial; font-size:12px}
body { font-size:12px; font-style:normal;font-variant:normal;font-weight:normal;line-height:1; margin:0;}
ol, ul { list-style: none }
blockquote, q { quotes: none }
a { cursor:pointer; text-decoration:none; color:#464646}
:focus { outline: 0 }
.clearfix:after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; background:#FFF;}
.clearfix { display: inline-block; }
html .clearfix { display: block;}
.clear{clear:both;}
.noPadding{padding:0 !important;}
.noPadingtop {padding-top:0!important;}
.noPaddingRT{padding-right:0 !important;}
.noPaddingLT{padding-left:0 !important;}
.noMargin{margin:0 !important;}
.noMarginRT{margin-right:0 !important;}
.noMarginLT{margin-left:0 !important;}
.noMarginBT{margin-bottom:0 !important;}
.noBorderLT{border-left:none !important;}
.noBorderRT {border-right:none!important;}
.noBorder{border:none !important;}
.no-bg {background:none!important;}
.noPadding-top {padding-top:0px!important;}
.dsplyBlock{display:block;}
.clearAll{clear:both; height:0; font-size:0;}

h2{font-size:18px;}
h3{font-size:30px;}
h5{font-size:17px;}

.fright {float:right;}
.gray-small{font-size:11px; color:#8d8b8c; }
.gray-small a{color:#8d8b8c; }

.pageWidth{width:100%; margin-left:auto; margin-right:auto; padding:0px;}
.padLR {}
.padLR2 {padding-left: 11px; padding-right: 11px; background:#FFF; margin: 0 auto; width: 85%;}
.player-padd {padding-left: 23px !important; padding-right: 23px !important; overflow:hidden;  background:url(../images/bg-nice.jpg) no-repeat #000 center top;}
.topbar{color:#fff; background:url(../images/header-bg.jpg) repeat-x; font-size:13px; text-align:center; padding:0; border-bottom:1px solid #b52323; font-weight:normal; height:280px; overflow:hidden;}
.logo{height:300px; width:750px; margin:0 auto; background:url(../images/logo.png) no-repeat;}
.topbar strong{font-size:18px; font-style:italic;}
/*.menuitem{background:url(../images/menubg.jpg) repeat-x; border-bottom:1px solid #000201;
height:35px; color:#fff; font-size:14px; font-weight:bold; text-transform:uppercase;}
.menuitem ul{margin:0; padding:10px 0 0 0; list-style:none; text-align:center;}
.menuitem ul li{display:inline; padding:10px 24px 0px 14px;}
.menuitem ul .join-link{padding:10px 0px 0px 14px !important;}
.menuitem a{color:#fff;}*/



/* ===== TOP NAV ===== */

#navigation {float: left; width:100%; background:url(../images/menubg.jpg) repeat;  background-image: -moz-linear-gradient(center bottom , #BE0D0D 50%, #DB2121 58%, #FF0000 75%);
    border: 1px solid #940000;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    padding: 0 3px !important; border-bottom:1px solid #000201;  position: relative;
    z-index: 40;}

#nav, ul#nav ul.sub-menu {width:85%; padding:0; margin: 0 auto;  position: relative;
    z-index: 40; }
#nav  ul.sub-menu li { list-style-type: none; background: #650300; display: inline-block; float:left; width:100%; border-bottom: 1px solid #a50500;  }

#nav li a:hover, ul#nav li ul.sub-menu li a:hover {text-decoration: none; background: #650300; float:left; display:inline-block;}
#nav li { position: relative; }
/*sub menu*/
#nav li ul.sub-menu {display:none; position: absolute; top: 28px; left: 0; width: 200px; border:none;  }
#nav li:hover ul.sub-menu {display:block;  overflow:hidden; border:none;  }

#nav { height:29px; margin:0; padding:0; font-weight:bold;  margin:0 auto; }
#nav ul { list-style: none outside none; margin: 0; padding: 0;  width:80%;}
#nav ul ul{ list-style: none outside none; margin: 0; padding: 0; display:none; }

#nav li { float: left; list-style: none outside none;  color: #000; }
#nav li a, #nav li span { background: none; display: block; height: 29px; line-height:29px; padding: 0 10px; color:#FFF; text-decoration: none; font-size: 15px; letter-spacing: .5px; border-left: 1px solid #970400;  }
#nav li a:hover, #nav li.selected a, #nav li.selected span { background-color: #650300; color:FFF; text-shadow: #FF00CC 0 0 2px;   }
#nav li.selected a:visited, #nav li.selected span { color:FFF; text-shadow: #FF00CC 0 0 2px;   }
#nav li.selected a, #nav li.selected span { background: #650300; color:FFF;}
#nav li.selected a:hover { background-color: #650300; color:FFF; text-shadow: #FF00CC 0 0 2px;   }
#nav li.navright { float: right; }
#nav li.navright a { text-decoration: underline; }
#nav a.class3:link {color: #FFF; text-decoration: underline; }
#nav a.class3:hover {color: #FFF; text-decoration: underline; }
#nav a.class3:visited { color: #FFF; text-decoration: underline;}



.h2-title{font-size:18px; color:#000000;}
.h2-title, .h2-heading, .h2-title-heading, .h3-title, .h4-title{margin:0;}
.title-block{text-align:center; padding:23px 0px 30px 0px; background-color:#FFF; overflow:hidden;}
.title-block .h2-heading{font-size:36px; padding:0 0 10px 0 !important;}
.h2-title-heading{font-size:48px; padding:0 0 4px 0 !important;}
.h3-title{font-size:18px; color:#464646; font-weight:normal; text-align:center;}

.border-bttm{background:url(../images/border_bg.jpg) repeat-x; height:3px; font-size:0px;}
.borderBTM{border-bottom:1px solid #dfdfdf; padding:7px 0 0 0;}

.video-text{line-height:16px; font-weight:bold; padding:11px 40px 14px 4px; text-align:justify; color:#454545;}

.videoblock{border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; padding:20px 12px; color:#464646;}
.videoblock .h3-title{font-size:14px; color:#464646;}
.footerblock{text-align:center;}



/************tab_sites.html********************/
.cst-title-sites{
padding:13px 0px 12px 0px;
}

.title-border{
border-bottom:1px solid #DDDDDD; background-color:#FFF;
}

.h3-head{
color:#565656; font-size:14px; font-weight:normal;
}

.cst-h2-thead {
padding:19px 0px 2px 4px;
}

.button-bpad {
float:right; padding:12px 3px 8px 0px;
}


.btnclass {
  border-top:1px solid #CECECE;
  border-left:1px solid #CECECE;  
  border-right:1px solid #CECECE;    
  border-bottom:1px solid #B9B9B9;
  background-color:#f6f6f6;
  background-image:linear-gradient(top, #fff, #E5E5E5);
  background-image:-moz-linear-gradient(top, #fff, #E5E5E5);
  background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#E5E5E5));
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff, endColorStr=#E5E5E5);
  cursor:pointer;
  white-space:nowrap;
  overflow:visible;
  outline:0 none; 
  font-size:11px;
  font-weight:bold;
  color:#5E5E5E;
  }
.btnclass a{color:#000000}
.btnclass::-moz-focus-inner {border:none} 

.btn-prev{
float:left; padding:12px 14px 10px 14px; margin:0px 0px 0px 0px; moz-border-radius:5px 0px 0px 5px; -webkit-border-radius: 5px 0px 0px 5px; border-radius: 5px 0px 0px 5px;
}


.btn-next{
float:left; padding:12px 14px 10px 14px; margin:0px 0px 0px 0px;
moz-border-radius:0px 5px 5px 0px; -webkit-border-radius: 0px 5px 5px 0px; border-radius: 0px 5px 5px 0px;
}

.prev-icon{
width:4px; height:8px; float:left; background:url("../images/sprite.png") no-repeat scroll -37px -25px transparent;
}

.next-icon{
width:4px; height:8px; float:left; background:url("../images/sprite.png") no-repeat scroll -37px -12px transparent;
}

.video-list{
width:100%; text-align:center; background-color:#FFF;
}

.video-list p{
padding:3px 0px 0px 0px; border-left:1px solid #F3F3F3;  border-right:1px solid #F4F4F4; border-bottom:1px solid #E1E1E1; border-top:1px solid #EFEFEF; background-color:#ffffff; margin:0px 2px 12px 2px;
-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
-moz-box-shadow:0px 1px 2px 0px #C8C8C8;
-webkit-box-shadow:0px 1px 2px 0px #C8C8C8;
box-shadow:0px 1px 2px 0px #C8C8C8; display:inline-block; text-align:left;
}
p{color:#000;}

.vid-img{
height: 250px; width: 331px; overflow:hidden; display:block; border:1px #900 solid;
}

.vid-title{
color:#444444; display:block; font-size:18px; font-weight:bold; padding:6px 0px 0px 3px; text-align:center;
}

.vid-link{
display:block;  padding:3px 0px 6px 4px; font-size:11px; color:#A7A7A7; font-weight:normal; text-align:center;
}

.vid-link a{
color:#ff0000; font-weight:bold;
}
.vid-link a:hover{
color:#585858; font-weight:bold;
}
.vid-head{float:left; padding:4px 0 0 0; color:#464646;}
.vid-head span b.arrow-lft{float:left; padding-right:7px;}
.vid-head span b.subhead{font-size:14px; padding:1px 0 3px 0; float:left;}
.vid-head span b.subtitle{font-size:11px; font-weight:normal; float:left;}

.footerblock {
    background: none repeat scroll 0 0 #EDEDED;
    color: #454545;
    padding: 5px 15px 7px;
    text-align: center;
}
.footertext{font-size:14px; font-weight:bold; padding:13px 0px 0px 0px;}
.footertext span{padding-left:30px; font-size:12px;}
p.footer-txt{font-size:11px; font-weight:normal;}

.v-pagination{text-align:center; padding:30px 0 15px 0; font-size:11px; background:#FFF;}

.v-pagination a, .v-pagination span{border:1px solid #cdcdcd;
padding:7px 10px; border-radius:3px;
margin-right:3px;
font-weight:bold;}

.v-pagination a{text-decoration:none;
background-image:-moz-linear-gradient(center top , #fafafa 0pt, #e3e3e3 100%);
background-image:-webkit-linear-gradient(top,#fafafa 0,#e3e3e3 100%);
background-image: -o-linear-gradient(top,#fafafa 0,#e3e3e3 100%);
background-image: -ms-linear-gradient(top,#fafafa 0,#e3e3e3 100%);
border-color:#CCCCCC #CCCCCC #AAAAAA;
box-shadow:0 0 1px #FFFFFF inset;}

.v-pagination span{background-image:-moz-linear-gradient(center top , #e5e5e5 0pt, #dddddd 100%);
background:-webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#dddddd));
background:-o-linear-gradient(linear, left top, left bottom, from(#e5e5e5), to(#dddddd));
background:-ms-linear-gradient(linear, left top, left bottom, from(#e5e5e5), to(#dddddd));
border-color:#999999 #CCCCCC #CCCCCC;
box-shadow:1px 2px 3px #c7c5c5 inset;
}

/* ===== Pagination ===== */

.pagination {
    margin-bottom:0;
    clear: both;
    padding: 15px;
	line-height:35px;
    text-align: center;
	background-color:#FFF;
	
}
.pagination a, .pagination span, .pagination em {
    font-size: 16px;
    font-weight: 700;
    padding: 0.2em 0.5em;
	
}
.pagination span.current {
    color: #FF0084;
    font-weight: 700;
}
.pagination a {
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 2px;
    padding: 4px 8px;
    text-decoration: none;
	
}
.pagination a:hover, .pagination a:focus {
    border-color: #003366;
}
.pagination .page_info {
    padding-top: 0.8em;
}
.pagination .prev_page, .pagination .next_page {
    border-width: 2px;
}
.pagination .prev_page {
    margin-right: 1em;
}
.pagination .next_page {
    margin-left: 1em;
}
.pagination a, .pagination a:hover {
    background-color: #d9168d;
}
.pagination a:hover, .pagination a:focus {
    background-color: #FF00CC;
}

/*Top Drop Down*/
.drop-menu{
color:#000000;
float:left;
padding:10px 0px 10px 2px;
}

.dropDown-box{float:left; margin:0px 7px 0px 0px;}
.buttonclass{text-align:center; display:inline-block; padding:7px 18px 8px 10px; border:1px solid #ccc;}
.ddoption{position:relative;}
.buttonclass2{float:left; margin:0px 0px 0px 0px; color:#757575; font-size:11px; font-weight:bold; moz-border-radius:3px; -webkit-border-radius:1px; border-radius:3px;border-bottom:1px solid #ABABAB; border-left:1px solid #CCCCCC; border-right:1px solid #CDCDCD; border-top:1px solid #ABABAB; color:#474747;}
.latest-ddl{padding:8px 12px 10px 10px;}
.most-ddl{padding:8px 10px 10px 10px;}
.today-ddl{padding:8px 10px 10px 10px;}


.submenu-dropdown{
	position:absolute;
	background:#fff;
	margin:-1px 0px 0px 0px;
	display:none;
	border:1px solid #cccccc;
	moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
}
.submenu-dropdown-links{padding:5px 0px 5px 0px; display:block;}
.submenu-dropdown a{
	display:block;
	padding:5px 10px;
	font-weight:normal;
	margin:2px 0;
	color:#000;
	text-decoration:none;
}

.submenu-dropdown a:hover{
	display:block;
	font-weight:normal;
	margin:2px 0;
}

.submenu-dropbox{
float:left; width:100%;
}

.most-text{
float:left; padding:0px 6px 0px 0px;
}

.drop-icon{
    background: url("../images/sprite.png") no-repeat scroll -15px -11px transparent;
    float: left;
    height: 8px;
    margin: 2px 0 0;
    width: 9px;
}
/*End Top Drop Down*/

.result-num{
float:left; color:#646770; font-weight:normal; padding:9px 5px 0px 0px; font-size:13px;
}

.footerlinks{
padding:16px 0px 14px 0px; font-weight:bold; font-size:12px;
}

.footer-join{
margin:0px 37px 0px 37px;
}

.fbtext{
font-size:11px; line-height:13px; padding:0px 0px 3px 0px;
}

.vid-play{
float:right; width:33px; height:33px; margin:0; opacity:0.4;
filter:alpha(opacity=50);
}

.vid-play b{

width:33px; height:33px; background:url("../images//hd.png") no-repeat; float:left; margin: 3px 0 0 0;
}

.vid-desc{
float:left; width:290px; margin:0px 0px 0px 5px;
}

.site-desc{
float:left; width:390px; margin:0px 0px 0px 5px;
}

.sites-list .vid-img{
width:390px; height:264px;
}
.girls-list p{
height:305px !important; margin-bottom:14px !important;
}


.girls-list .vid-img{
width:300px; height:264px;
}

.site-list .vid-img{
width:400px; height:350px;
}
.cst-girls-pgn{
padding:13px 0px 15px 0px !important;
}

.h2-join{font-size:36px; padding:21px 0px 8px 0px !important; text-align:center;}
.player-h3{padding:0px 0px 18px 0px;}
.related-videos{padding:0px 0px 13px 0px;}
.h3-related{color:#464646;}
.cst-related-h3{padding:21px 0px 2px 4px;}

.padd-title{padding:18px 0px 30px 0px;}

.movies-list p{
margin-bottom:16px;
}

.cst-mov-pag{
padding:25px 0px 15px 0px;
}


.video-blk{color:#000; background:url(../images/bg-nice.jpg) no-repeat center top;}
.h3-featured{color:#FFF; font-size:30px; font-weight:normal;}
.h3-watch{color:FFF; font-size:24px; text-align:center; padding:9px 0px 10px 0px;}
.h3-watch a{color:#FFF;}

.video-blk .h3-title a{
color:#fff;
}

.h3-updates{
color:#fff; font:30px/40px; padding:8px 0px 7px 13px; margin:0 auto; width:85%;
}

.vid-block{width:747px; height:362px; position:relative; margin:auto;}
#vid-link {width:747px; height:362px;}
.video-play{moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px; margin:286px 0px 0px 620px; position:absolute; width:110px; height:61px; font-size:0px;}
.vid-play-arrow{ background:url("../images/vid_arrow.png") no-repeat; width:35px; height:41px; position:absolute; margin:295px 0px 0px 665px; cursor:pointer;}
.vid-txt{padding:0 0 12px 0; line-height:14px; text-align:left; font-weight:normal; font-size:12px; color:#FFF; margin: 0 auto; width: 85%;}

.button-btmpad {
float:right; padding:8px 0px 8px 0px;
}
.btn-featured{
float:left; padding:8px 8px 8px 10px; margin:0px 0px 0px 0px;
moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; border:1px solid #D9D9D9; color:#454545;
}
.btn-title{float:left; font-size:11px; color:#000; padding-right:3px;}

.feat-icon{
width:9px; height:11px; float:left; background:url("../images/sprite.png") no-repeat scroll -65px -10px transparent;
}


.css-opacity{
background-color:#000000; display:block;
z-index: -50
filter:alpha(opacity=40);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}

.cst-featured{
padding:12px 0px 13px 0px; text-align:center;
}
.fleft{

	font-size:30px;
	
	}
.movies-tab-padd{
padding:13px 0px 0px 0px;
}

.cst-pgn-tab{
padding:34px 0px 15px 0px;
}

.align-center{
text-align:center;
}


/*******form pages***************/

.formBox{background:#fff; border:1px solid #000000;}
.blackbar{background:#000; padding:5px 15px ;}
.formBox .h3-title-bl{color:#fff; font-size:14px;}
.formBox .h3-title-bl span{font-weight:normal; font-size:10px;}
.formBox-pad{padding:7px 0px 25px 15px; border-top:1px solid #EEEEEE;}
.formBox-pad-tab{padding:12px 18px 2px 15px;}
.padtop-box{padding:5px 15px 3px 15px;}
.member-text{font-weight:bold; text-align:justify; color:#a1a1a1; font-size:13px; padding:5px 0 15px 0;}
.formbttn{border:1px solid #e1e1e1; width:204px; font-size:14px; padding:13px 0 13px 15px;}
.skybg{background:#eef9fb;}
.skybtn{background:#eef9fb; width:97%; font-size:18px; color:#474949; margin-bottom:10px;}
.input-pad{vertical-align:baseline; float:left;}
.img-pad{vertical-align:middle; margin-left:5px;}

.formBox-pad dl input.ccv-input, .padtop-box  dl input.ccv-input{width:50px !important; margin-right:5px;}
.formBox-pad dl dt{float:left; font-weight:bold; clear:both; font-size:12px; padding:8px 0px 0px 0px;
width:150px;}
.formBox-pad dl dd{float:left; vertical-align:middle; padding:3px 0 3px 0; height:25px;}

.padtop-box dl{float:left; width:100%; vertical-align:middle;}
.padtop-box dl dt{float:left; font-weight:bold; clear:both; font-size:12px; padding:9px 0px 8px 0px;
width:150px;}
.padtop-box dd{float:left; padding:5px 0 4px 0; height:20px;}

.trans-bttn{padding:1px 5px;}

.box-text{font-size:11px; text-align:center; border-top:5px solid #ffffff; border-left:7px solid #ffffff; border-right:6px solid #ffffff; border-bottom:6px solid #ffffff; padding:6px 10px 10px 10px; line-height:15px; color:#000; }
.term-text{font-size:9px; padding:6px 0px 4px 0px; line-height:12px; color:#000;}
.term-text-big{padding:5px 0; line-height:15px; color:#000; text-align:center;}
.box-text-out{padding:24px 68px 22px 58px;}
.tab-cc-left{float:left; width:296px;}
.tab-cc-left img{float:left;}
.tab-cc-right{float:right; width:415px !important; height:650px !important;}
.ccv-text {font-size:10px; color:#1800ff;}
.term-text a, .ccv-text a{color:#1800ff;}
.term-text input{vertical-align:middle;}

.exp-select select, .exp-select-year select, .select-country select{padding:0 3px;}
.dec-text{font-size:11px; color:#5A5A5A; padding:0px 0px 3px 0px;}
.dec-text a{color:#5A5A5A;}
.input-box-wid{width:152px;}
.exp-select{width:117px;}
.exp-select-year{width:60px;}
.select-country{width:180px;}
.padtop-box .select-country{width:225px;}
.dl-padTOP{padding:30px 20px 0px 0px;}
.padtop-box input, textarea, .formBox-pad input, textarea{margin-left:0;}
input[type="radio"]{vertical-align:baseline; margin-left:0;}
input[type="checkbox"]{vertical-align:middle; margin-left:0; margin-bottom:5px;}

.head-vid{width:100%; text-align:center; padding:0px 0px 14px 0px;}
.top-vid-img{width:175px; height:129px; overflow:hidden; border-top:1px solid #010000; border-left:1px solid #020001; border-bottom:1px solid #C2C2C2;
border-right:1px solid #595856; float:left; margin:0px 6px 0px 0px;}
.top-vid-img b{width:173px; height:127px; border-top:1px solid #C3BEC2; border-left:1px solid #C4C1BC; border-bottom:1px solid #090100;
border-right:1px solid #695E62; float:left; overflow:hidden;}

.padTOP{padding:15px 0px 0px 0px;}
.padL-R{padding:0px 20px 0px 20px;}

.h3-join-title{font-size:14px; color:#555555; padding:0px 0px 26px 0px;}
.padd-join{padding:0px 0px 28px 0px;}
.form-center{width:730px; margin-left:auto; margin-right:auto;}

.padWidth{width:724px; margin-left:auto; margin-right:auto;}
.term-padd{padding:3px 0px 4px 0px;}

.form-cc{width:728px; margin-left:auto; margin-right:auto;}
.cc-padd{padding:0px 0px 14px 0px;}

.sel-bg{background-color:#EEF9FB;}
.package-options p{border:1px solid #D4D8D9; float:left; width:201px; padding:15px 0px 17px 14px; margin:0px 20px 0px 0px;}
.package-options p input{margin:0px; padding:0px;}
.amt{padding:1px 0px 0px 12px; font-size:14px;}
.sel-opt{padding:1px 0px 0px 0px;}
.cc-box-padd{padding:14px 0px 20px 0px;}

.box-text-cc{padding:15px 61px 24px 66px;}
.input-cc-text{float:left; padding:5px 4px 0px 2px;}
.tab-cc-top{padding-top:10px;}
.zip-text{width:75px;}
.input-cc-img{float:left; padding:2px 0px 0px 0px;}
.trailer-list p{width:150px; height:110px; display:inline-block; margin:0px 17px 32px 17px; border:1px solid #000000; overflow:hidden;}
.player-padd .h2-join-tab{padding:8px 0px 8px 0px !important;}

.wp-width{width:643px; margin-left:auto; margin-right:auto;}
.h2-wp{text-align:center; font-size:25px; font-weight:normal; padding:18px 0px 25px 0px;}
.wp-list{width:100%;}
.wp-list p{float:left; width:300px; height:424px; overflow:hidden; margin:0px 43px 0px 0px;}
.wp-list p span{float:left; width:100%; text-align:center;}
.wp-img{height:320px; overflow:hidden;}
.wp-text{padding:17px 0px 6px 0px; color:#444444; font-size:19px;}
.wp-enter a{font-weight:bold; font-size:36px; color:#0000FE;}
.h3-wp{font-weight:normal; border-top:1px solid #EBEBEB; border-bottom:1px solid #EBEBEB; padding:22px 0px 23px 0px; width:652px; margin-left:auto; margin-right:auto;}

.wpright{width:473px; margin-left:auto; margin-right:auto; padding:21px 0px 44px 0px;}
.wpright a{text-decoration:underline;}
.wpright .h1-title{font-size:13px; font-weight:normal; text-align:center;}
.wpright .h1-title strong{font-size:24px;}
.wpright .h2-title{font-size:20px; font-weight:bold; padding:22px 0px 2px 23px;}
.wpright .h2-title-head{font-size:45px; font-weight:bold; padding:20px 0px 23px 0px; text-align:center; line-height:54px;}
.wpright .h3-title{font-size:20px; text-align:center;}
.wptext{line-height:16px; padding:0px 26px 0px 10px; font-size:13px;}
.wpbox{border:1px solid #000000; background:#eeeeee; height:130px; overflow:auto; padding:0px 10px 0px 11px;
font-size:13px; line-height:16px;}
.wpbox span.wp-intop{padding:14px 0px 5px 0px; float:left;}
.wpbox span.wp-inbottom{float:left;}
.wpdate{color:#999999; text-align:right; padding-top:45px; font-size:12px;}


.player-zero{width:721px; height:432px; margin-left:auto; margin-right:auto; background-color:#363636;}
.player-zero-btm{padding:0px 0px 12px 0px;}
.player-zero-content{width:626px; margin-left:auto; margin-right:auto; text-align:center; padding:27px 0px 0px 0px;}
.player-zero-content h2{color:#ffffff; font-weight:normal; padding:0px 0px 28px 0px; float:left; width:100%;}
.player-join-btn{background:#2052cf; color:#FFFB05; font-size:24px; font-weight:bold; margin-bottom:5px; cursor:pointer; float:left;
border-top:6px solid #3D6AE9; border-bottom:6px solid #3D6AE9; border-left:4px solid #3C6CEA; border-right:4px solid #376CEE;
padding:17px 26px 18px 41px;
}

.t-list{float:left; width:100%; padding:24px 0px 0px 0px;}
.t-list span{float:left; width:150px; height:110px; overflow:hidden; border:1px solid #020100; margin:0px 6px 6px 0px;}


 #video_container {margin-left: auto; margin-right: auto; }
    #video_container_wrapper {margin-left: auto; margin-right: auto; }

    #end_of_video_container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        width: 720px;
        height: 431px;
        background-color: #363636;
    }

    #join_container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        width: 720px;
        height: 431px;
        background-color: #363636;
    }
    #join_container iframe {
        width: 100%;
        height: 100%;
    }

    #out_of_previews_container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        width: 720px;
        height: 430px;
        background-color: #363636;
    }
    #playerPreviewsImageContainer {
        position: relative;
        top: 27px;
        margin: 0 auto !important;
        width: 632px;

    }
    .playerPreviewImage {
        width: 150px;
        height: 110px;
        border: 1px solid #000;
        margin: 0 6px 6px 0;
        float: left;
    }
    #playerPreviewsControlBar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 24px;
        width: 720px;
        background-color: #000;
        background-image: url(../../../../images2.bangbros.com/bangbros/ipadt1/playerbar.png);
    }


    /* start of styles for end_of_video_container */
    .player-zero{width:721px; height:432px; margin-left:auto; margin-right:auto; background-color:#363636;}
    .player-zero-btm{padding:0px 0px 12px 0px;}
    .player-zero-content{width:626px; margin-left:auto; margin-right:auto; text-align:center; padding:27px 0px 0px 0px;}
    .player-zero-content h2{color:#ffffff; font-weight:normal; padding:0px 0px 28px 0px; float:left; width:100%;}
    .player-join-btn{background:#2052cf; color:#FFFB05; font-size:24px; font-weight:bold; margin-bottom:5px; cursor:pointer; float:left;
    border-top:6px solid #3D6AE9; border-bottom:6px solid #3D6AE9; border-left:4px solid #3C6CEA; border-right:4px solid #376CEE;
    padding:17px 26px 18px 41px;
    /* end of styles for end_of_video_container */

}

.t-list{float:left; width:100%; padding:24px 0px 0px 0px;}
.t-list span{float:left; width:150px; height:110px; overflow:hidden; border:1px solid #020100; margin:0px 6px 6px 0px;}